{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}

{% block content %}
<h1>Cadastro de compra</h1>

<div class="order-info">
    <h3>Recibo</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>R$ {{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Total: R${{ cart.get_total_price }}</p>
</div>

<form method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
</form>
{% endblock %}